<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Taohid.blue.restrictme">


    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"
        />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS"></uses-permission>

    <application


        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_again"
        android:label="Restrict Me"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.shiku.blue.restrictme.MainActivity"
            android:label="Restrict Me"
            android:theme="@style/AppTheme.NoActionBar"

            android:configChanges="keyboardHidden|orientation|screenSize"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.shiku.blue.restrictme.InputActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.shiku.blue.restrictme.AppData"></activity>
        <activity android:name="com.shiku.blue.restrictme.LockScreenActivity"></activity>
        <activity android:name="com.shiku.blue.restrictme.KitkatSettings"></activity>
        <activity android:name="com.shiku.blue.restrictme.How_to_use"></activity>
        <activity android:name="com.shiku.blue.restrictme.CreditClass"></activity>
        <activity android:name="com.shiku.blue.restrictme.SplashScreen"></activity>

        <receiver android:name="com.shiku.blue.restrictme.AlarmReceiver" />


        <receiver android:name="com.shiku.blue.restrictme.StartUp">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.shiku.blue.restrictme.LockService"
            android:exported="false"/>

    </application>

</manifest>
